#tabla1
{
    width: 65%;
    border-radius: 2em;
    border-style: dashed;
    border-width: 1em;
    text-align: center;
}
.img1a
{
    width: 45%;
    height: 90%;
    border-radius: 2em;
    border-style: dashed;
    color: rgb(143, 228, 46);
}
.img1b
{
    width: 45%;
    height: 90%;
    border-radius: 2em;
    border-style: dashed;
    color: rgb(143, 228, 46);
}
td
{
    width: 15%;
    height: 100px;
    border-radius: 2em;
}